# REF: https://qiita.com/Manatee/items/58d0f98a15656ed65136
# REF: https://qiita.com/muff1225/items/48e0753e7b745ec3ecbd

[mysqld]

# mysqlサーバー側が使用する文字コード
character-set-server=utf8mb4

# データベースが使用する文字コード
collation-server=utf8mb4_general_ci

# テーブルにTimeStamp型のカラムをもつ場合、推奨
explicit-defaults-for-timestamp=1

# 実行したクエリの全ての履歴が記録される（defaultではOFFになっているらしい）
general-log=1

# ログの出力先
general-log-file=/var/log/mysql/mysqld.log


[client]

# mysqlのクライアント側が使用する文字コード
default-character-set=utf8mb4
